* {
    box-sizing: border-box;
}

body {
    background: url("")
}

#header {
    display: flex;
    justify-content: right;
    border-radius: 3px;
    background-color: slategray;
}

.about {
    padding: 10px;
    color: black;
}

.plants{
    padding: 10px;
    color: black;
}

#about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-form {
    display: flex;
    justify-content: center;
}