<%- include('../partials/header') %>

<body>
    <section id="about-page">

        <h1>Welcome to Urban Jungle!</h1>
        <h2>Your personal space for all things plant care.</h2>
        <p>
            Have you ever felt overwhelmed by the large amount of different plants that you have? Are you concerned that you wont be able to remember exactly what each one of their unique needs is going to be? Well fret no more! Here at Urban Jungle you can cultivate a personal list of all of your green leafy friends and all of their likes and dislikes!
        </p>
        
    </section>
<%- include('../partials/footer') %>