<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa numquam illum corporis natus iure quia laudantium cum amet minima, consequatur iste sunt tenetur perferendis eum nulla laborum iusto reprehenderit! Ut?
    </p>
    </body>
    </html>