<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit <%= plant.species %></h1>

    <form action="/plants/<%= plantId %>?_method=PUT" method="POST">
        <input type="text" name="text" value="<%= plant.text %>">
        <input type="submit" value="Edit Todo">
    </form>

    <a href="/plants">Exit Edit</a>
    
</body>
</html>