<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
</head>

<body>
    <table id="list">
        <thead>
            <tr>
                <th>Species:</th>
                <th></th>
            </tr>
        </thead>
        <% if(plants) { %>

        <tbody>
            <% plants.forEach(function(m) { %>
            <tr>
                <td><%= m.species %></td>
                <td><a href="/plants/<%= m._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
        </tbody>
        <% } else { %>
        <p><%= 'no plants yet' %></p>
        <% } %>
    </table>
    <a href="/plants/new">Add a New Plant</a>

</body>

</html>